.sbutton-next,
.sbutton-prev {
  margin-top: calc(0px - (1.875rem / 2));
  @apply absolute top-1/2 z-10 border border-transparent bg-indigo-100 py-0.5 text-base font-medium text-indigo-700 drop-shadow-lg transition duration-150 ease-in-out hover:bg-indigo-50 hover:text-indigo-600 hover:drop-shadow-sm dark:bg-indigo-300 dark:hover:bg-indigo-200 md:text-lg;
}

.sbutton-prev {
  @apply left-0 rounded-r-md md:pr-0.5;
}

.sbutton-next {
  @apply right-0 rounded-l-md md:pl-0.5;
}

.sbutton-detached-next,
.sbutton-detached-prev {
  @apply shrink border border-transparent bg-indigo-100 px-1 py-0.5 text-base font-medium text-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-50 hover:text-indigo-600 md:py-1 md:px-2 md:text-lg;
}

.sbutton-detached-prev {
  @apply rounded-l-md;
}

.sbutton-detached-next {
  @apply rounded-r-md;
}

.sbutton-disabled {
  @apply cursor-auto opacity-40;
}

.sbutton-hidden {
  @apply hidden;
}

@media (min-width: 1024px) {
  #skills .swiper-wrapper {
    max-height: 22rem !important;
  }
}
@media (max-width: 475px) {
  #skills .swiper-wrapper {
    max-height: 22rem !important;
  }
}
