@tailwind base;
@tailwind components;
@tailwind utilities;

/* # Scrollbar */
/* ### Firefox*/
:root,
.overflow-y-auto,
.overflow-x-auto {
  scrollbar-color: theme('colors.indigo.400') theme('colors.indigo.600');
  scrollbar-width: thin;
}
/* ### Chromium */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: theme('colors.indigo.600');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.indigo.400');
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.indigo.500');
}
